:root {
    --rounded: 0rem;
    --shadow: 0;
}

.k-box[data-theme] {
    --box-color-back: #ffffff;
    border: solid 1px #4864f9a0;
}

.k-tag {
    background-color: #4864f9a0;
    color: initial;
}

.k-label-text {
    font-weight: 600;
}

.k-line-field {
    height: 1rem;
}

.k-section-name-infos {
    margin-top: var(--spacing-8) !important;
}

.k-section-name-infos .k-section-header {
    display: none;
}