@charset "UTF-8";

@font-face {
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-Cinetype-Regular.woff2") format("woff2"),
        url("../fonts/GT-Cinetype-Regular.woff") format("woff");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/GT-America-Standard-Light.woff2") format("woff2"),
        url("../fonts/GT-America-Standard-Light.woff") format("woff");
}

@font-face {
    font-family: "GT America";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2"),
        url("../fonts/GT-America-Standard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pitch Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/pitch-sans-medium.woff2") format("woff2");
}

html {
    font-size: 100%;
    cursor: none;
}

:root {
    --doc-height: 100%;
    --doc-width: 100%;
    --black: #1d1d1b;
    --white: #ffffff;
    --main-color: ;
    --acc-color: ;
    --background: ;
    --shade-color: #f0eceb50;
    --body-text-font: "GT America";
    --body-text-size: 1rem;
    --secondary-text-font: "GT Cinetype";
    --secondary-text-size: 1rem;
    --title-font: "GT America";
    --title-size: calc(1.5rem + 1vw);
    --big-title-font: "GT America";
    --big-title-size: calc(1rem + 6.5vw);
    --label-text-font: "Pitch Sans";
    --label-text-size: 1rem;
    --header-text-font: "GT Cinetype";
    --main-margin: 4rem;
    --half-margin: 2.5rem;
    --double-margin: 8rem;
    --small-margin: 1rem;
    --nav-height: 3rem;
    --button-size: 2.5rem;
    --border-black: solid 1px var(--black);
    --border-white: solid 1px var(--white);
    --border-color: solid 1px var(--main-color);
}

body {
    width: 100%;
    max-width: 100%;
    min-height: var(--doc-height);
    font-family: "GT Cinetype";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--black);
    background: var(--background);
    background-attachment: fixed;
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

button {
    background: transparent;
    border: none;
}

hr {
    border-top: var(--border-black);
    border-bottom: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d1d1b;
    z-index: 999;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--secondary-text-size);
    height: var(--secondary-text-size);
    padding: 4px;
    border-radius: 50%;
    background: var(--black);
    z-index: 999;
    pointer-events: none;
    display: none;
}

.follower {
    font-family: var(--header-text-font);
    font-size: var(--secondary-text-size);
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
    display: none;
}

.text {
    font-family: var(--body-text-font);
    font-size: var(--body-text-size);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.text-intro {
    display: flex;
    flex-direction: column;
    gap: var(--small-margin);
}

.text-intro h3,
.text-intro .text {
    font-family: var(--title-font);
    font-size: var(--title-size);
    line-height: 110%;
}

.text-intro.--blend h3 {
    mix-blend-mode: difference;
    /* color: var(--main-color); */
    color: var(--white);
}

.text-subtext {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.text-label {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    line-height: 110%;
}

.text-caption {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    line-height: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.text-list {
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    line-height: 130%;
}

.text a,
.text-subtext a,
.text-caption a,
.text-list a,
.contact-block a {
    position: relative;
}

.text a::before,
.text-subtext a::before,
.text-caption a::before,
.text-list a::before,
.contact-block a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--black);
    top: 95%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.text a:hover::before,
.text-subtext a:hover::before,
.text-caption a:hover::before,
.contact-block a:hover::before {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}

.button {
    width: var(--button-size);
    height: var(--button-size);
}

.button svg {
    height: 100%;
}

.button a::before {
    content: none;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: var(--half-margin);
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--half-margin);
    pointer-events: none;
}

.header-headline {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /* position: fixed;
    top: var(--half-margin);
    left: 0;
    z-index: 3;
    padding: 0 var(--half-margin); */
}

.header-headline a {
    font-family: var(--header-text-font);
    font-size: var(--secondary-text-size);
    font-weight: 600;
    text-transform: uppercase;
    pointer-events: all;
    max-height: 0;
}

.letter {
    display: inline-block;
    position: relative;
}

.logo-element {
    display: none;
    margin-left: var(--small-margin);
}

.header-button-wrapper {
    /* position: fixed;
    top: var(--half-margin);
    right: var(--half-margin);
    z-index: 3; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end; */
    gap: var(--small-margin);
    pointer-events: all;
}

.header-button-wrapper .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 0%;
    border: var(--border-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--small-margin);
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.header-button-wrapper .button span {
    display: none;
}

.header-button-wrapper .button.--current {
    /* width: auto;
    min-width: unset;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: var(--small-margin); */
    min-width: unset;
    padding-left: var(--small-margin);
}

.header-button-wrapper .button.--current:hover {
    background: var(--acc-color);
}

.header-button-wrapper .button.--current svg {
    width: var(--button-size);
}

/* .header-button-wrapper .button.--current span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
} */

.header-button-wrapper .button:hover {
    min-width: unset;
    padding-left: var(--small-margin);
}

.header-button-wrapper .button:hover span,
.header-button-wrapper .button.--current span {
    display: block;
}

.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    border-top: var(--border-black);
}

.nav {
    width: 100%;
    height: var(--nav-height);
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: end;
    -ms-flex-pack: end; */
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 var(--double-margin);
}

.nav,
.banner-content,
.banner-button {
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
}

.nav.--hide {
    display: none;
}

.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.nav-menu.lang {
    gap: var(--small-margin);
}

.nav-menu.menu {
    gap: 6rem;
}

.menu-element {
    position: relative;
    white-space: nowrap;
}

.menu-element::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--black);
    top: 75%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.menu-element:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.menu-element.--target,
.menu-element.--current {
    pointer-events: none;
}

.menu-element.--target::after,
.menu-element.--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--black);
    top: 75%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.mobile-menu-button {
    display: none;
    background: var(--acc-color);
}

.banner {
    width: 100%;
    height: auto;
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    display: none;
}

.banner.--display {
    display: block;
}

.banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: var(--half-margin) var(--main-margin);
}

.banner-button {
    position: absolute;
    top: calc(0px - var(--button-size));
    right: var(--main-margin);
    border: var(--border-black);
    background: var(--shade-color);
}

.contact-block p:not(:last-child) {
    margin-bottom: var(--small-margin);
}

.slider {
    width: calc(50% + var(--button-size));
    height: var(--doc-height);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
}

.slider.--display {
    display: block;
}

.slider-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.slider-wrapper.--translateX {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.slider-button {
    position: sticky;
    top: var(--main-margin);
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
    border: var(--border-black);
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.slider-button.--opacity {
    opacity: 1;
}

.slider-content {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--half-margin);
    padding-top: var(--main-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border-left: var(--border-black);
    overflow-y: scroll;
    scrollbar-width: none;
}

.slider-content::-webkit-scrollbar {
    display: none;
}

.slider-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--half-margin);
}

.slider-block-title {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
    margin-bottom: var(--half-margin);
}

.slider-block-title h2 {
    overflow-wrap: break-word;
    word-break: break-all;
}

.slider-block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: var(--small-margin);
}

.slider-block-text .text-label {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
}

.slider-block-text .text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
}

.main {
    width: 100%;
    min-height: var(--doc-height);
    pointer-events: all;
    -webkit-transition: -webkit-filter .25s ease-in;
    transition: -webkit-filter .25s ease-in;
    -o-transition: filter .25s ease-in;
    transition: filter .25s ease-in;
    transition: filter .25s ease-in, -webkit-filter .25s ease-in;
}

.main.--blur {
    pointer-events: none;
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
}

.scroll-x {
    overflow: hidden;
    border-top: var(--border-black);
}

.scroll-container {
    width: 100%;
    margin: 0 auto;
}

.scroll-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.hero-layout,
.hero-layout video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.grid-layout {
    padding-right: var(--double-margin);
    border-bottom: var(--border-black);
}

.grid-layout-item {
    position: relative;
    min-width: 25vw;
    height: var(--doc-height);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-top: var(--small-margin);
    padding-right: var(--small-margin);
    padding-bottom: calc(var(--nav-height) + var(--small-margin));
    padding-left: var(--small-margin);
    border-right: var(--border-black);
}

.cover-layout-item {
    position: relative;
    min-width: 100%;
    height: var(--doc-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: calc(var(--nav-height) + var(--small-margin));
    padding-left: var(--main-margin);
    border-bottom: var(--border-black);
    border-left: var(--border-black);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-title {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 200;
    line-height: 100%;
}

.grid-layout-item .item-title {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.item-title a,
.item-title p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-title-label {
    position: absolute;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: var(--small-margin);
    bottom: calc(var(--nav-height) + var(--small-margin));
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.scroll-x .item-title a,
.scroll-x .item-title p {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: var(--small-margin);
    -moz-column-gap: var(--small-margin);
    column-gap: var(--small-margin);
}

.item-title .word {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.item-title .letter {
    opacity: 0;
}

/* .scroll-y {
    padding-top: var(--double-margin);
} */

.marquee-layout {
    min-height: var(--doc-height);
}

.marquee-layout-item {
    position: relative;
    /* height: calc(var(--double-margin) + var(--half-margin)); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 0;
    padding-bottom: var(--small-margin);
    padding-left: 0;
    border-right: none;
    border-bottom: var(--border-black);
}

.marquee-layout-item .item-title a,
.marquee-layout-item .item-title p {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: var(--main-margin);
}

.page-intro {
    width: 100%;
    /* min-height: var(--doc-height); */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 var(--doc-width);
    flex: 0 0 var(--doc-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
}

.gallery {
    position: relative;
}

.gallery-grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: var(--half-margin);
}

.gallery-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.media-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.gallery.--width .gallery-item img,
.gallery.--width .gallery-item video {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    pointer-events: all;
}

.gallery.--width .gallery-item.--zoom-in img {
    cursor: pointer;
}

.gallery.--width .gallery-item.--zoom-in video,
.gallery.--width .gallery-item.--zoom-in .media-text-wrapper {
    cursor: none;
}

.gallery.--width .gallery-item.--zoom-in figcaption {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    pointer-events: none;
}

.gallery-item .audio-player {
    width: 100%;
    background: var(--black);
    padding: var(--small-margin);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
    padding: var(--small-margin);
}

.audio-player svg {
    stroke: var(--white);
    stroke-width: 1px;
}

.audio-player-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--small-margin);
}

.audio-play {
    position: relative;
    cursor: pointer;
}

.play-icon.toggle-play {
    opacity: 0;
}

.pause-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.pause-icon.toggle-play {
    opacity: 1;
}

.audio-time {
    min-width: 144px;
    white-space: nowrap;
    font-size: var(--label-text-size);
    font-weight: 400;
    text-align: center;
    color: var(--white);
}

.audio-time span {
    white-space: nowrap;
}

.seek-slider-container {
    position: relative;
    width: 100%;
    height: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seek-slider-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--seek-before-width);
    height: 8px;
    background-color: var(--white);
    pointer-events: none;
}

input.seek-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
}

input.seek-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
}

input.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
}

input.seek-slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    border: none;
}

.audio-volume {
    position: relative;
    cursor: pointer;
}

.volume-icon.toggle-volume {
    opacity: 0;
}

.mute-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.mute-icon.toggle-volume {
    opacity: 1;
}

.gallery-item .pdf {
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    background: var(--black);
    color: var(--acc-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--half-margin);
    padding: var(--small-margin);
}

.gallery-item .pdf .button {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.gallery-item .media-info {
    display: none;
}

.gallery-item.--zoom-in {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: var(--half-margin);
}

.gallery-item.--zoom-in img {
    max-height: 65%;
    max-width: 65%;
    -o-object-fit: contain;
    object-fit: contain;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-item.--zoom-in video {
    max-width: 65%;
    max-height: calc(var(--doc-height) - var(--main-margin));
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.gallery-item.--opacity,
.gallery-item.--opacity,
.gallery-item.--opacity {
    opacity: .25;
}

.gallery-item.--zoom-in .media-info {
    display: block;
}

.gallery-item.--zoom-in .media-text-wrapper {
    position: sticky;
    top: var(--double-margin);
}

.gallery-item.--unfiltered {
    display: none;
}

.gallery-item.--unfiltered figcaption.--display {
    display: none;
}

.gallery-item.--unfiltered figcaption div.--opacity {
    opacity: 0;
}

.gallery-item.--filtered figcaption.--display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-item.--filtered figcaption div.--opacity {
    opacity: 1;
}

.zoomed-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background: var(--background);
    background-attachment: fixed;
    display: none;
}

.zoomed-button {
    position: fixed;
    top: var(--half-margin);
    right: var(--half-margin);
    border: var(--border-black);
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.zoomed-container.--portrait {
    overflow-y: scroll;
}

.zoomed-container.--landscape {
    overflow-x: scroll;
}

.zoomed-button.--opacity {
    opacity: 1;
}

.zoomed-container img {
    display: block;
}

.zoomed-container.--portrait img {
    width: 100%;
}

.zoomed-container.--landscape img {
    height: 100%;
}

.box-container {
    position: fixed;
    bottom: calc(var(--nav-height) + var(--main-margin));
    right: calc(var(--button-size) + var(--half-margin));
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box {
    position: absolute;
    pointer-events: none;
}

.box:first-of-type {
    bottom: calc(var(--button-size) + var(--small-margin));
}

.box:last-of-type {
    bottom: 0;
}

.filter-button {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: all;
    border: var(--border-white);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: opacity .5s ease, -webkit-transform .3s ease-out;
    transition: opacity .5s ease, -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out, opacity .5s ease;
    transition: transform .3s ease-out, opacity .5s ease;
    transition: transform .3s ease-out, opacity .5s ease, -webkit-transform .3s ease-out;
}

.filter-button.--scale-out {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.inner-box {
    position: absolute;
    right: calc(0% - var(--button-size));
    bottom: 0;
    width: calc(50vw - var(--half-margin));
    height: auto;
    color: var(--white);
    background: var(--black);
    border: var(--border-white);
    pointer-events: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.inner-box.--scale-in {
    pointer-events: all;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.inner-box-header,
.inner-box-content,
.inner-box-column {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.inner-box-header.--opacity,
.inner-box-content.--opacity,
.inner-box-column.--opacity {
    opacity: 1;
}

.inner-box-header,
.inner-box-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr))
}

.inner-box-header {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    line-height: 120%;
}

.box-header-wrapper {
    padding: var(--small-margin) var(--half-margin);
    border-bottom: var(--border-white);
}

.box-header-wrapper:nth-of-type(2),
.box-content-wrapper:nth-of-type(2) {
    border-left: var(--border-white);
}

.box-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: var(--half-margin);
}

.deselect-filters {
    display: none;
    padding: var(--small-margin);
    border-top: var(--border-white);
}

.deselect-filters.--display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deselect-filters p {
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.deselect-filters.--opacity p {
    opacity: 1;
}

.read-more-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--label-text-font);
    font-size: var(--label-text-size);
    color: var(--white);
    margin-top: var(--small-margin);
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.x-button {
    position: absolute;
    top: var(--half-margin);
    left: calc(0% - var(--button-size));
    border: var(--border-white);
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.x-button.--opacity {
    opacity: 1;
}

.read-more-button p,
.deselect-filters p,
.filter {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.read-more-button p::before,
.deselect-filters p::before,
.filter::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--white);
    top: 95%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.read-more-button p:hover::before,
.deselect-filters p:hover::before,
.filter:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.filter.--target {
    pointer-events: none;
}

.filter.--target::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--white);
    top: 95%;
    left: 0;
    pointer-events: none;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.column-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: var(--half-margin);
    -webkit-column-gap: var(--half-margin);
    -moz-column-gap: var(--half-margin);
    column-gap: var(--half-margin);
}

.accordion.--filtered {
    display: block;
}

.accordion.--unfiltered {
    display: none;
}

.accordion-topbar {
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    gap: var(--small-margin);
    border-top: var(--border-black);
    padding: .5rem 0;
    cursor: pointer;
}

.accordion.--ongoing .accordion-topbar {
    grid-template-columns: repeat(4, 1fr);
}

.accordion.--past .accordion-topbar {
    grid-template-columns: repeat(5, 1fr);
}

.column-layout .accordion-topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: .25rem;
    padding: var(--small-margin) 0;
}

.column-layout .accordion-topbar-title {
    font-family: var(--title-font);
    font-size: var(--title-size);
    line-height: 110%;
    margin-bottom: var(--small-margin);
}

.list-layout .accordion-topbar-title {
    font-family: var(--secondary-text-font);
    font-size: var(--secondary-text-size);
    line-height: 130%;
}

.column-layout .accordion-text {
    margin-bottom: 0;
    padding: var(--small-margin) 0;
    gap: var(--small-margin);
}

.column-layout .accordion-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.column-layout .accordion-image {
    margin-top: 0;
}

.accordion-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--half-margin);
}

.accordion-content,
.accordion-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.accordion-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    margin: var(--small-margin) 0 var(--half-margin) 0;
    cursor: pointer;
}

.accordion-title h3 {
    font-family: var(--big-title-font);
    font-size: var(--big-title-size);
    font-weight: 300;
    line-height: 100%;
    word-break: break-word;
}

.accordion-image {
    display: none;
    margin: var(--half-margin) 0;
}

.accordion-image img {
    min-width: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.accordion-image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--small-margin);
}

.accordion-text {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--half-margin);
    margin-bottom: var(--half-margin);
}

.--open .accordion-topbar {
    border-bottom: var(--border-black);
}

.--open .accordion-image {
    display: block;
}

.--open .accordion-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-layout .--open .accordion-topbar-title {
    display: none;
}

.list-layout .--open .accordion-topbar {
    grid-template-columns: repeat(4, 1fr);
}

.list-layout .--open .accordion-topbar-item:nth-of-type(2) {
    text-align: start;
}

@media screen and (max-width: 720px) {
    :root {
        --main-margin: 2.5rem;
        --half-margin: 1.5rem;
    }

    .banner-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: var(--main-margin);
    }

    .slider {
        width: 75%;
    }

    .slider-block-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .column-layout {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --big-title-size: calc(3rem + 7vw);
        --main-margin: 1.5rem;
        --half-margin: 1rem;
    }

    .header-headline {
        background: none;
    }

    .header-headline a {
        max-height: unset;
        margin-right: 600px;
    }

    .logo-element {
        display: block;
        margin: 0;
    }

    .nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.lang {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .nav-menu.menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .menu-element {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .mobile-menu-button {
        display: block;
    }

    .mobile-menu-button path {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        -o-transition: transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease;
    }

    .nav.--show {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: var(--small-margin);
        padding: var(--small-margin) var(--half-margin);
    }

    .nav.--show .nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav.--show .mobile-menu-button path {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .banner {
        height: var(--doc-height);
    }

    .banner-content {
        padding: var(--double-margin) var(--main-margin);
        gap: var(--main-margin);
    }

    .slider-button,
    .banner-button {
        top: 0;
    }

    .slider {
        width: 100%;
        z-index: 3;
    }

    .slider-content {
        gap: var(--main-margin);
        padding-top: var(--double-margin);
    }

    .slider-button {
        position: fixed;
        right: var(--main-margin);
        z-index: 1;
    }

    .gallery-grid {
        grid-gap: var(--main-margin);
    }

    .grid-layout-item {
        min-width: 50vw;
        padding-left: var(--main-margin);
    }

    .gallery-item.--zoom-in {
        -ms-grid-column: 1;
        grid-column: 1 / 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gallery-item.--zoom-in img {
        max-height: 65%;
        max-width: 100%;
    }

    .inner-box {
        width: calc(100vw - var(--half-margin) - var(--half-margin));
    }

    .x-button {
        top: calc(0px - var(--button-size));
        left: var(--main-margin);
    }

    .item-title-label {
        bottom: auto;
        top: calc(var(--nav-height) + var(--small-margin));

    }

    .list-layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: var(--half-margin);
    }

    .column-layout {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .column-layout .accordion-topbar-title {
        margin-top: var(--small-margin);
    }

    .list-layout .accordion-topbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: .25rem;
        padding: var(--small-margin) 0;
    }

    .accordion.--ongoing .accordion-topbar {
        border-bottom: none;
    }

    .list-layout .accordion-title {
        margin: .25rem 0 var(--half-margin) 0;
    }

    .accordion-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .accordion-title h3 {
        font-family: var(--title-font);
        font-size: var(--title-size);
        line-height: 110%;
        font-weight: 400;
    }

    .accordion-topbar-title {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .accordion-image {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}