:root {
    --doc-height: 100%;

    --black: #1d1d1b;
    --white: #ffffff;

    --main-color: #ffffffa0;
    --acc-color: #f0eceb;
    --background: #ffffff;
    --shade-color: #f0eceb93;

    --body-text-font: "GT America";
    --body-text-size: 1.25rem;
    --secondary-text-font: "GT America";
    --secondary-text-size: 1rem;
    --text-headline-font: "GT America";
    --text-headline-size: calc(1.5rem + 1vw);
    --big-title-font: "GT America";
    --big-title-size: calc(1rem + 6.5vw);
    --label-text-font: "Pitch Sans";
    --label-text-size: .8rem;
    --logo-text-font: "GT Cinetype";
    --logo-text-size: .8rem;

    --main-margin: 6rem;
    --half-margin: 3rem;
    --inner-margin: 2rem;
    --small-margin: .75rem;

    --button-size: 2.2rem;
    --filters-wrapper-width: auto;
    --border-black: solid 1px var(--black);
    --border-white: solid 1px var(--white);
    --border-color: solid 1px var(--main-color);

    --filter: grayscale(1);
}

[color-mode="white"] {
    --background: #ffffff;
    --filter: none;
}

[color-mode="color"] {
    --filter: none;
}

@media screen and (min-width: 1500px) {
    :root {
        --main-margin: 12rem;
        --half-margin: 6rem;
        --inner-margin: 3rem;
    }
}

@media screen and (max-width: 880px) {
    :root {
        --main-margin: 3rem;
        --half-margin: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --body-text-size: 1rem;
        --secondary-text-size: .9rem;
        --text-headline-size: 1.5rem;
        --big-title-size: 3.5rem;
        --label-text-size: .8rem;
        --main-margin: 1.25rem;
        --half-margin: .75rem;
        --inner-margin: 1.25rem;
        --small-margin: .5rem;
        --button-size: 2rem;
    }
}