/* body {
    background: var(--white);
} */

/* .header {
    padding: 0;
    border-bottom: var(--border-black);
}

.header-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: var(--small-margin) var(--main-margin);
    background: var(--shade-color);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
} */

.item.has-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    pointer-events: none;
}

.item-background {
    position: absolute;
    min-height: 20vw;
    max-height: 20vw;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.item-background img {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
}

.item:hover .item-background {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}