.gallery {
    width: 50%;
    height: auto;
}

.gallery.--width {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.gallery-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* padding-top: var(--double-margin); */
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
}

.gallery.--width .gallery-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-item figcaption {
    height: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.gallery.--width .gallery-item figcaption {
    height: auto;
    max-height: 100%;
    opacity: 1;
}

.info-slider {
    width: calc(50% + var(--button-size));
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.info-slider-wrapper {
    height: var(--doc-height);
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info-slider .slider-button {
    opacity: 1;
}

.i-button {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    border: var(--border-white);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.i-button.--scale-out {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@media screen and (max-width: 720px) {
    .info-slider {
        width: 75%;
    }

    .gallery.--width .gallery-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .gallery.--width .gallery-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .info-slider {
        display: none;
        width: 100%;
        z-index: 3;
    }

    .i-button {
        opacity: 1;
        pointer-events: all;
    }
}