.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--main-margin);
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
}

.accordion-topbar-item {
    text-align: center;
}

.accordion-topbar-item:first-of-type {
    text-align: start;
}

.accordion-topbar-item:last-of-type {
    text-align: end;
}