.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--main-margin);
    padding-top: var(--double-margin);
    padding-right: var(--main-margin);
    padding-bottom: calc(var(--main-margin) + var(--nav-height));
    padding-left: var(--main-margin);
}

.gallery {
    width: 100%;
}

.gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.gallery-item img,
.gallery-item video {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    pointer-events: all;
}

.gallery-item.--zoom-in img {
    cursor: pointer;
}

.gallery-item.--zoom-in video,
.gallery-item.--zoom-in .media-text-wrapper {
    cursor: none;
}

.gallery-item.--zoom-in figcaption {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

@media screen and (max-width: 720px) {
    .gallery-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {
    .gallery-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}